* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

:root {
  --dark: #222831;
  --gray: #393E46;
  --blue: #00adb5;
  --white: #EEEEEE;
}

html,
body {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}
